{% extends "admin/base_site.html" %}

{% block content %}
<form method="post" class="form-horizontal">
  {% csrf_token %}
  {{ form.as_p }}

<script>
  let featureVersions = {{ versions | safe }};
  let featureSectors = {{ versions_sectors | safe }};
  let lastVersionParams = {{ last_version_params | safe }};
  let lastVersionSectors = {{ version_sectors | safe }};

  function getVersionParamsObject(versionParams) {
    if (Object.keys(versionParams).length == 0) {
      return "{}"
    }
    return JSON.stringify(versionParams.reduce((parameterObject, key) => {
      parameterObject[key] = "";
      return parameterObject;
    }, {}), null, 2);
  }

  featureVersionElement = document.getElementById('id_feature_version')
  parametersElement = document.getElementById('id_globals_values')
  sectorsElement = document.getElementById('id_sectors')

  parametersElement.value = getVersionParamsObject(lastVersionParams)
  if(Object.keys(lastVersionSectors).length == 0) {
    sectorsElement.value = "{}"
  } else {
    sectorsElement.value = JSON.stringify(lastVersionSectors, null, 2)
  }
  featureVersionElement.addEventListener('input', function() {
    if (featureVersionElement.value) {
      parametersElement.disabled = false;
      let versionParams = featureVersions[featureVersionElement.value]
      let sectorParams = featureSectors[featureVersionElement.value]
      parametersElement.value = getVersionParamsObject(versionParams)
      if(Object.keys(sectorParams).length == 0) {
        sectorsElement.value = "{}"
      } else {
        sectorsElement.value = JSON.stringify(sectorParams, null, 2)
      }
    } else {
      parametersElement.disabled = true;
      parametersElement.value = ""
      sectorsElement.value = ""
    }

  });
</script>
{% endblock %}
